<div class="relative w-full md:w-1/2 animation-left">
  <div id="spinner" class="absolute inset-0 z-10 flex items-center justify-center">
    <!-- Ejemplo de spinner SVG o div animado con Tailwind -->
    <svg
      class="animate-spin h-8 w-8 text-gray-500"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"
      ></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"></path>
    </svg>
  </div>
  <iframe
    src="https://link.inkshapecrm.com/widget/form/r2xZuGQEkwlgwnqmeCJs"
    class="w-full h-full border-none relative z-40"
    id="inline-r2xZuGQEkwlgwnqmeCJs"
    data-layout="{'id':'INLINE'}"
    data-trigger-type="alwaysShow"
    data-trigger-value=""
    data-activation-type="alwaysActivated"
    data-activation-value=""
    data-deactivation-type="neverDeactivate"
    data-deactivation-value=""
    data-form-name="Form General Website"
    data-height="926"
    data-layout-iframe-id="inline-r2xZuGQEkwlgwnqmeCJs"
    data-form-id="r2xZuGQEkwlgwnqmeCJs"
    title="Form General Website"
    onload={`document.getElementById('spinner')?.style.setProperty('display','none');`}
  >
  </iframe>
  <script src="https://link.inkshapecrm.com/js/form_embed.js"></script>
</div>
