---
const icons = [
  {
    name: "mail",
    href: "https://mail.google.com/mail/?view=cm&fs=1&to=stevepressurewashing@yahoo.com",
  },
  {
    name: "instagram",
    href: "https://www.instagram.com/p/C7Vz_e1Mqwl/?hl=en",
  },
  {
    name: "facebook",
    href: "https://www.facebook.com/p/Steves-Premium-Pressure-Washing-100083189356054/",
  },
];
---

<div class="flex justify-center items-center gap-4 w-full">
  {
    icons.map((i) => (
      <a href={i.href} class="p-2 rounded-full flex items-center justify-center bg-primary shrink-0">
        <img src={`/images/${i.name}.svg`} alt={i.name} class="w-4 h-4" />
      </a>
    ))
  }
</div>
